<div class="container">
  <h5 class="text-center mt-3">POST LISTING</h5>
  <div class="d-flex my-2">
  </div>
  <div class="table-responsive">
      <table class="table table-bordered p-0 m-0">
          <thead>
              <tr>
                  
                  <th scope="col">User</th>
                  <th scope="col">Content</th>
                  <th scope="col">Image</th>
                  <th scope="col">Added Date</th>
                  <th scope="col">Action</th>
              </tr>
          </thead>
          <tbody>
              <tr scope="row" *ngFor="let post of postList">
                  
                  <td>{{ post.user?.fullName }}</td>
                  <td>{{ post.content }}</td>
                  <td><div class="image-container"><img [src]="post.imageUrl" alt="Image"></div></td>
                  <td> {{post.addedDate | date: 'd/M/YYYY, h:mm:ss a'}}</td>
                  <td>
                      <button (click)="toggleBlockPost(post)" mat-raised-button [color]="post.block ? 'warn' : 'primary'" class="action-button">
                          {{ post.block ? 'Unblock' : 'Block' }}
                      </button>
                  </td>
              </tr>
              <tr scope="row" *ngIf="postList.length === 0">
                  <td colspan="6" class="text-center">No record found</td>
              </tr>
          </tbody>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" [length]="totalElements" (page)="nextPage($event)"></mat-paginator>
  </div>
</div>


