<div class="page-overlay">
  <img class="background-image" src="/assets/images/wallpaper2.jpg" alt="background">
  <div class="flex min-h-full">
    <!-- Left side with the image -->
    <div class="hidden lg:flex flex-col justify-center px-6 py-12">
      <img class="mx-auto h-33 w-33" src="/assets/images/logobg.png" alt="logo">
    </div>

    <!-- Right side with the form -->
   

    <div class="flex-1 flex-col justify-center px-6 py-12 lg:px-8">
      <h2 class="mt-5 mb-10 text-left text-4xl font-bold leading-9 tracking-tight text-gray-900">Create Yourself An Account</h2>
      <form [formGroup]="regForm" (ngSubmit)="onSubmit()" class="space-y-6" action="#" method="POST">
        <div>
          <label for="fullName" class="block text-2sm font-medium leading-6 text-gray-900">Full Name</label>
          <div class="mt-2">
            <input id="fullName" formControlName="fullName" type="text" required class="block w-full max-w-2xl rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">

            <div *ngIf="regForm.get('fullName')?.invalid && regForm.get('fullName')?.touched">
              <small class="text-red-500" *ngIf="regForm.get('fullName')?.errors?.['required']">FirstName is Required</small>
              <small class="text-red-500" *ngIf="regForm.get('fullName')?.errors?.['minlength']">FirstName requires min 4 characters</small>
            </div>
            
          </div>
        </div>

        <div>
          <label for="email" class="block text-2sm font-medium leading-6 text-gray-900">Email address</label>
          <div class="mt-2">
            <input id="email" formControlName="email" type="email" autocomplete="email" required class="block w-full max-w-2xl rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">

            <div *ngIf="regForm.get('email')?.invalid && regForm.get('email')?.touched">
              <small class="text-red-500" *ngIf="regForm.get('email')?.errors?.['required']">Email is Required</small>
              <small class="text-red-500" *ngIf="regForm.get('email')?.errors?.['email']">Valid Email is required</small>

            </div>

          </div>
        </div>

        <div>
          <label for="password" class="block text-2sm font-medium leading-6 text-gray-900">Enter Password</label>
          <div class="mt-2">
            <input id="password" formControlName="password" type="password" required class="block w-full max-w-2xl rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">

            <div *ngIf="regForm.get('password')?.invalid && regForm.get('password')?.touched">
              <small class="text-red-500" *ngIf="regForm.get('password')?.errors?.['required']">Password is Required</small>
              <small class="text-red-500" *ngIf="regForm.get('password')?.errors?.['minlength']">Password requires min 4 characters</small>
            </div>

          </div>
        </div>

        <div>
          <label for="rePassword" class="block text-2sm font-medium leading-6 text-gray-900">Re-enter Password</label>
          <div class="mt-2">
            <input id="rePassword" formControlName="rePassword" type="password" required class="block w-full max-w-2xl rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">

            <div *ngIf="regForm.get('rePassword')?.invalid && regForm.get('rePassword')?.touched">
              <small class="text-red-500" *ngIf="regForm.get('rePassword')?.errors?.['required']">Re -entering Password is Required</small>
              
            </div>

          </div>
        </div>

        

        <div>
          <label for="userHandle" class="block text-2sm font-medium leading-6 text-gray-900">User Handle</label>
          <div class="mt-2">
            <input id="userHandle" formControlName="userHandle" type="text" required class="block w-full max-w-2xl rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">

            <div *ngIf="regForm.get('userHandle')?.invalid && regForm.get('userHandle')?.touched">
              <small class="text-red-500" *ngIf="regForm.get('userHandle')?.errors?.['required']">User handle is Required</small>
              <small class="text-red-500" *ngIf="regForm.get('userHandle')?.errors?.['minlength']">Username requires min 3 characters</small>
            </div>

          </div>
        </div>

        <div>
          <label for="bio" class="block text-2sm font-medium leading-6 text-gray-900">Bio</label>
          <div class="mt-2">
            <input id="bio" formControlName="bio" type="text" required class="block w-full h-16 max-w-2xl rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">

            <div *ngIf="regForm.get('bio')?.invalid && regForm.get('bio')?.touched">
              <small class="text-red-500" *ngIf="regForm.get('bio')?.errors?.['required']">Bio is Required</small>
              <small class="text-red-500" *ngIf="regForm.get('bio')?.errors?.['minlength']">Bio requires minimum 5 numbers</small>
            </div>

          </div>
        </div>


        <div>
          <button type="submit" class="flex w-full max-w-2xl justify-center rounded-md bg-gradient-to-r from-indigo-600 to-purple-500 px-3 py-2.5 text-md font-semibold leading-6 text-white shadow-sm hover:from-indigo-900 hover:to-purple-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign Up</button>
        </div>
      </form>

      <p class="ml-40 mt-10 text-left text-2sm text-gray-500">
        Already have an account?
        <a href="#" [routerLink]="'/login'" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Sign In</a>
      </p>
    </div>
  </div>
</div>
