<div class="message-area-container">
  <!-- Top bar with user thumbnail and icons -->
  <div class="top-bar">
    <div class="user-info">
      <img [src]="selectedUser.profilePicUrl" alt="User Thumbnail">
      <span>{{selectedUser.fullName}}</span>
    </div>
    <div class="call-icons">
      <mat-icon class="call-icon" (click)="startCall()">call</mat-icon>
      <mat-icon class="video-chat-icon" (click)="startVideoChat()">videocam</mat-icon>
    </div>
  </div>

  <!-- Messages -->
  <div class="message-area-container">
    <div *ngFor="let message of messages" class="message">
      <div *ngIf="message.from === selectedUser.email" class="sent-message">
        {{message.text}}
      </div>
      <div *ngIf="message.from !== selectedUser.email" class="received-message">
        {{message.text}}
      </div>
    </div>
  </div>
  

  <div class="text-area-container">
    <!-- Text area for new message -->
    <textarea [(ngModel)]="newMessage" placeholder="Type your message..."></textarea>

    <!-- Send button -->
    <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>

  </div>
  
</div>
