<div class="chat-container">
  <!-- Top bar with user thumbnail and icons -->
  <div class="top-bar">
    <div class="user-info">
      <img [src]="selectedUser.profilePicUrl" alt="User Thumbnail">
      <span>{{selectedUser.fullName}}</span>
    </div>
    <div class="call-icons">
      <mat-icon class="call-icon" (click)="startCall()">call</mat-icon>
      <mat-icon class="video-chat-icon" (click)="startVideoChat()">videocam</mat-icon>
    </div>
  </div>

   <!-- Messages -->
   <div class="message-area-container">
    <div #messagesContainer class="messages">
      <div *ngFor="let message of messages.slice().reverse()" class="message">
        <div [ngClass]="{'sent-message': message.senderId === selectedUser.id, 'received-message': message.senderId !== selectedUser.id}">
          <div class="message-content">{{message.content}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-area-container">
    <!-- Text area for new message -->
    <textarea [(ngModel)]="newMessage" placeholder="Type your message..."></textarea>
  
    <!-- Send button for text message -->
    
  
    <!-- Input for sending images -->
    
    <div class="image-icon-container">
      <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
      <input type="file" accept="image/*" (change)="sendImage($event)"  id="imageInput">
      <label for="imageInput">
        <mat-icon class="image-icon">image</mat-icon>
      </label>
    </div>
  </div>
  
  
  
    