

.chat-container {
  display: flex;
  flex-direction:column;
  height: 90vh;
  
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px;
}
.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.call-icons mat-icon {
  cursor: pointer;
  margin-left: 10px;
  font-size: 24px;
  color: #333;
}




/*messages*/



.message-area-container {
  display: flex;
  flex-direction: column-reverse; 
  align-items: flex-start;
  padding: 20px;
  min-height: 69vh;
  background-color: #f0f0f0;
  

}
.messages {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
  width: 100%;
}

.message {
  margin-bottom: 10px;
  display: flex;
}


 .message-sender-reciever-container {
  display: flex;
  flex: 1;
} 

.sent-message,
.received-message {
  padding: 10px;
  border-radius: 8px;
}
.sent-message {
  background-color: #f0f0f0; 
  color: #0b3104; 
  justify-content: flex-start;
  border-style:outset;
  border-width:0px 0px 0px 5px ;
  border-color: #3e8918
}

.received-message {
  background-color: #f0f0f0;
  color: #100536; 
  justify-content: flex-end;
  border-style:outset;
  border-width:0px 5px 0px 0px ;
  border-color: #2b30c9
}


#thumbnail-image {
  cursor: pointer;
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  border-radius: 5px;
  
}









/* text area*/

textarea {
  resize: none;
  height: 60px;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}

.text-area-container {
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 10px; 
}

.button-container {
  display: flex;
  align-items: center;
}
button.send-button {
  padding: 5px; 
  margin-right: 10px; 
}

.mat-icon.send-icon {
  font-size: 18px; 
}


button {
  padding: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}
.image-icon {
  font-size: 24px; 
  margin-left: 10px; 
  cursor: pointer;
}
button:hover {
  background-color: #87c5a1;
}


#imageInput{
  display: none;
}

text-area-container textarea {
  flex: 1;
}

.image-icon-container {
  cursor: pointer;
  margin-left: 10px;
}




