<header class="bg-white dark:bg-blue-950			">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-20 items-center justify-between">
          <div>
            <div>
                <img [routerLink]="['/home']" src="assets/images/mgram4.png" alt="Logo" class="logoHeader" style="width: 220px; height: auto;">
            </div>
            </div>
          <div class="flex items-center md:gap-12">
            <div class="px-80"></div>
              <nav aria-label="Global" class="hidden md:block">
                  <ul class="flex items-center gap-6 text-sm">
                      <li>
                          <a [routerLink]="'/home'" class="text-gray-500  transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75" href="/">Home</a>
                      </li>
                      
                      <li>
                          <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75" href="/chat">Chat</a>
                      </li>

                      <li>
                        <button title="Notifications" class="relative rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75 dark:bg-gray-700 dark:text-white dark:hover:text-white/75"
                        (click)="toggleNotifications()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
                              </svg>
                            <!-- A badge to show the number of notifications -->
                            <span *ngIf="notificationCount>0" class="absolute top-0 right-0 inline-flex items-center justify-center px-1 py-0.5 text-xs font-bold leading-none text-white bg-red-500 rounded-full">{{getGroupedNotificationsCount()}}</span>
                        </button>
                        
                        <!-- Notifications list started -->

                        <div *ngIf="showNotifications" class="absolute right-50 mt-2 w-96 bg-white rounded-lg shadow-lg notification-container">
                            <div *ngFor="let key of getGroupedNotificationKeys()" class="notification-item">
                            <ng-container *ngIf="groupedNotifications[key]!.length > 0 && groupedNotifications[key]!.length !== undefined">   
                            <!-- Notification items -->
                            <div class="p-3 border-b" *ngIf="groupedNotifications[key][0]?.chatRoomId !== undefined">
                               
                                    <!-- Example notification item -->
                                    <div class="flex items-center space-x-2 singleNotfItem"
                                    
                                    (click)="navigateToChat(groupedNotifications[key][0].chatRoomId || '')"
                                    >
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                        </svg>
                                        <p class="text-lg text-gray-700">You have {{ groupedNotifications[key].length }} new messages from {{ getNotificationFullName(key) }}</p>
                                    </div>
                                
                            </div>
                        </ng-container>
                        </div>
                        </div>
                        <!-- Notifications list ended -->
                      </li>
                  </ul>
              </nav>
              <div class="flex items-center gap-4">
                  <div class="sm:flex sm:gap-4">
                    <button (click)="logout()"
                    class="rounded-md bg-teal-600 px-3 py-1.5 text-xs font-medium text-white shadow dark:hover:bg-teal-500 whitespace-nowrap"
                    >Sign out</button> 
                </div>
                  <div class="block md:hidden">
                      <button title="button"  class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75 dark:bg-gray-800 dark:text-white dark:hover:text-white/75">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                          </svg>
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>