

.mainClass {
    background-image: url('../../../assets/images/wpaperopq3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif; 
}

.flex {
    display: flex;
}

.justify {
    justify-content: center;
    background-color: #ffffff;
    margin-left: 2%;
    border: 2px solid #b2b5bc;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card {
    max-width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.file-input,
.comment-input,
.line-input {
    width: 100%;
    padding: 12px;
    border: 2px solid #677381; 
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 16px; 
    color: #333; 
}

.file-input::placeholder,
.comment-input::placeholder,
.line-input::placeholder {
    color: #999; 
}

/* Upload Button Styling */
.btn-upload {
    width: 100%;
    padding: 12px;
    background-color: #555a86;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s ease; 
}

.btn-upload:hover {
    background-color: #013062; 
}

.textController {
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 0.8%;
}

label {
    font-size: 18px; 
    font-weight: bold; 
    color: #333; 
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 20px;
    margin-top: 20px;

}


.meme-heading {
    font-size: 40px; 
    font-weight: bold;
    color: transparent; 
    text-align: center; 
    margin-bottom: 20px; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    background-image: linear-gradient(to right, #1a220e, #3fda51); 
    -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}