
  <div class="flex flex-col h-screen overflow-hidden mainClass" >
    <header class="bg-blue-300" *ngIf="!isLoginOrRegisterRoute()">
        <app-header></app-header>
        </header>
  
    <div class="flex flex-1 ">
      <!-- Sidebar component -->
        <app-sidebar class="leftSideBar"></app-sidebar>

      <!-- Router outlet for other content -->
      <router-outlet ></router-outlet>
      <app-feeds *ngIf="!isProfilePage()" class="flex-grow p-2 appFeed"></app-feeds>
      <app-profile *ngIf="isProfilePage()" ></app-profile>
      <app-right-side-bar class="ml-auto rightSideBar"></app-right-side-bar>


    </div>
  </div>
  