

.appFeed {
    flex-grow: 1;
  }
  
  .rightSideBar {
    flex: 0 0 15%; 
    
    
    background-color: #fef5f7;

    display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  padding-right: 20px;
  padding-left: 20px;

  }
  
  .leftSideBar {
    flex: 0 0 15%; 
  }
  
