
<div class="sidebar-container">
  <!-- Sidebar Header -->
  <div class="sidebar-header">
    <h2 class="titleClass">Memegram Chat</h2>
  </div>

  <!-- Followers Section -->
  <div class="sidebar-section ">
    <h3 class="formargin">Followers</h3>
    <div *ngFor="let follower of followersList" class="user-item followers-item" (click)="onSelectUser(follower)">
      <img [src]="follower.profilePicUrl" alt="Profile Thumbnail">
      <span class="full-name" >{{follower.fullName}}</span>
      <span class="online" *ngIf="follower.userPresence"></span>
    </div>
  </div>

  <!-- Following Section -->
  <div class="sidebar-section ">
    <h3 class="formargin">Following</h3>
    <div *ngFor="let followingUser of followingList" class="user-item following-item" (click)="onSelectUser(followingUser)">
      <img [src]="followingUser.profilePicUrl" alt="Profile Thumbnail">
      <span class="full-name" >{{followingUser.fullName}}</span>
      <span class="online" *ngIf="followingUser.userPresence"></span>
      {{followingUser.userPresence | json}}
    </div>
  </div>
</div>


