<div class="container" *ngIf="isOwnProfileValueInPostComp">
    <div class="gallery" >
        <div class="gallery-item" *ngFor="let post of postsList" tabindex="0">
            <!-- <img src="{{post.imageUrl}}" class="gallery-image" alt="post" (click)="post.imageUrl && openImageModal(post.imageUrl)"> -->
           <div *ngIf="post.imageUrl" (click)="handleImage($event,post.imageUrl)">
            <img src="{{post.imageUrl}}" class="gallery-image" alt="post"  >
          
            <div class="gallery-item-info">
                <ul>
                    <li *ngIf="isLikedByUser(post)" (click)="unlikePost(post)" class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="material-icons" aria-hidden="true">recommend</i>{{post.likes?.length}}</li>
                    <li *ngIf="!isLikedByUser(post)" (click)="likePost(post)" class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="material-icons" aria-hidden="true">favorite</i>{{post.likes?.length}}</li>
                    <li class="gallery-item-comments"
                    *ngIf="post.postId !== undefined && post.imageUrl !== undefined && post.lastComment !== undefined" 
                    (click)="openCommentModal(post.postId,post.imageUrl,post.lastComment)"
                    ><span class="visually-hidden">Comments:</span><i class="material-icons" aria-hidden="true">comment</i>{{post.comments?.length}}</li>
                </ul>
            </div>
           </div>
        </div>
    </div>
    <!-- <div class="loader"></div> -->
</div>

<div class="container" *ngIf="!isOwnProfileValueInPostComp">
    <div class="gallery" >
        <div class="gallery-item" *ngFor="let post of otherUserPostsList?.reverse()" tabindex="0">
           
            <!-- <div (click)="post.imageUrl && openImageModal(post.imageUrl)"> -->
             <div *ngIf="post.imageUrl"  (click)="handleImage($event, post.imageUrl)"> 
            <img src="{{post.imageUrl}}" class="gallery-image" alt="post"  >
            <div class="gallery-item-info">
                <ul >
                    <li *ngIf="isLikedByUser(post)" (click)="unlikePost(post)" class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="material-icons" aria-hidden="true">recommend</i>{{post.likes?.length}}</li>
                    <li *ngIf="!isLikedByUser(post)" (click)="likePost(post)" class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="material-icons" aria-hidden="true">favorite</i>{{post.likes?.length}}</li>
                   
                    <li class="gallery-item-comments"  
                    *ngIf="post.postId !== undefined && post.imageUrl !== undefined && post.lastComment !== undefined" 
                    (click)="openCommentModal(post.postId,post.imageUrl,post.lastComment)">
                    <span class="visually-hidden">Comments:</span><i class="material-icons" aria-hidden="true">comment</i></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
    
    <!-- Display message when there are no posts -->
    <div *ngIf="!otherUserPostsList || otherUserPostsList.length === 0" class="no-posts-message">
        <p>No posts available.</p>
    </div>
    <!-- <div class="loader" *ngIf="otherUserPostsList"></div> -->
</div>