<div class="container">

    <div class="gallery" >

        <div class="gallery-item" *ngFor="let post of postsList" tabindex="0">

            
            <img src="{{post.imageUrl}}" class="gallery-image" alt="post">
            <div class="gallery-item-info">

                <ul>
                    <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="material-icons" aria-hidden="true">favorite</i> 56</li>
                    <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="material-icons" aria-hidden="true">comment</i> 2</li>
                </ul>

            </div>

        </div>

        

        

        

       

    </div>
    <!-- End of gallery -->

    <div class="loader"></div>

</div>
<!-- End of container -->
