


 <div class="container">
  <h5 class="text-center mt-3">USER LISTING</h5>
  <div class="d-flex my-2">
  </div>
  <div class="table-responsive">
      <table class="table table-bordered p-0 m-0">
          <thead>
              <tr>
                  
                  <th scope="col">Full Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">User Handle</th>
                  <th scope="col">Provider</th>
                  <th scope="col">Reported Count</th>
                  <th scope="col">Action</th>
              </tr>
          </thead>
          <tbody>
              <tr scope="row" *ngFor="let user of userList">
                  
                  <td>{{ user.fullName }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.userHandle }}</td>
                  <td>{{ user.provider }}</td>
                  <td>{{ user.reportedCount }}</td>
                  <td>
                      <button (click)="toggleBlockUser(user)" mat-raised-button [color]="user.blocked ? 'warn' : 'primary'" class="action-button">
                          {{ user.blocked ? 'Unblock' : 'Block' }}
                      </button>
                  </td>
              </tr>
              <tr scope="row" *ngIf="userList.length === 0">
                  <td colspan="6" class="text-center">No record found</td>
              </tr>
          </tbody>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" [length]="totalElements" (page)="nextPage($event)"></mat-paginator>
  </div>
</div>





