<div #modalContainer class="modal-container" >
  <h1>Add a Comment</h1>
  <img [src]="data.imageUrl" alt="Post Image" class="modal-image">

  <!-- Display all comments -->
  <div class="comments-container" *ngIf="comments && comments.length > 0">
    <div *ngFor="let comment of comments" class="comment-box">
      <div class="profile-thumbnail">
        <img [src]="comment.user.profilePicUrl" alt="Profile Thumbnail">
      </div>
      <div class="comment-content">
        <div class="comment-text" *ngIf="!comment.isEditing">{{ comment.commentText }}</div>
        <div *ngIf="comment.isEditing">
          <textarea title="commentEdit" [(ngModel)]="comment.editedText" class="comment-textarea"></textarea>
        </div>
        <div class="button-container" *ngIf="comment.isEditing">
          <button class="cancel-button" (click)="cancelEditing(comment)">Cancel</button>
          <button class="comment-button" (click)="saveEditing(comment)">Save</button> 
        </div>

        <div class="comment-details">
          <span class="comment-date">{{ comment.commentedDate | date: 'short' }}</span>
        </div>
      </div>

      <div class="delete-button">
        <button mat-icon-button color="primary" (click)="deleteComment(comment)" [disabled]="isSameUser(comment.user.id)"><mat-icon>delete</mat-icon>
        </button>
      </div>

      <div class="edit-button">
        <button mat-icon-button color="primary" (click)="startEditingComment(comment)" [disabled]="isSameUser(comment.user.id)"
        ><mat-icon>edit</mat-icon>
      </button>
      </div>

    </div>
  </div>

  <!-- Add your comment input and submit button below -->
  <div class="comment-container">
    <textarea [(ngModel)]="comment" placeholder="Enter your comment here" class="comment-textarea"></textarea>
    <div class="button-container">
      <button class="comment-button" (click)="submitComment(comment)">Comment</button>
      <button class="cancel-button" (click)="close()">Cancel</button>
    </div>
  </div>
</div>
