<div class="container-fluid">
  <div  style="min-height: 500px;">
    <div>
      <h1>Admin Dashboard</h1>
    </div>

    <div class="horizontal-cards my-5">

      <div class="card usersAndPosts" [routerLink]="['/admin/users']">
        <div>
          <h3>Total Users</h3>
        </div>
        <div>
          <h3>{{ totalUsersNumber }}</h3>
        </div>
      </div>

      <div class="card usersAndPosts" [routerLink]="['/admin/posts']">
        <div>
          <h3>Total Posts</h3>
        </div>
        <div>
          <h3>{{ totalPostsNumber }}</h3>
        </div>
      </div>
    </div>

    <div class="horizontal-charts">
      <div class="pieChart">
          <h2 class="title">Types of User Sign-in</h2>
          <app-admin-piechart></app-admin-piechart>
      </div>

      <div class="lineChart">
          <h2 class="title">Posts Uploaded</h2>
          <app-admin-graph></app-admin-graph>
      </div>
    </div>
  </div>
</div>

