<mat-card>
    <mat-card-header>
        <mat-card-title>Upload a Meme</mat-card-title>
    </mat-card-header>

    <div>
        <textarea placeholder="Type Message..."></textarea>
    </div>
    <mat-card-actions align="end">
        <button mat-button color="warm"><label for="photo-upload">
            <input  id="photo-upload" type="file" accept="image/*" />
            <mat-icon>insert image</mat-icon>
        </label></button>
        <button mat-flat-button="warm">Post</button>
    </mat-card-actions>
</mat-card>