#post-button {
    width: 30px;
    height: 30px;
  }

  

  .custom-rounded-top {
    border-top-left-radius: 50%; 
    border-top-right-radius: 50%; 
    border-bottom-left-radius: 50%; 
    border-bottom-right-radius: 50%; 
  }

  

 
