.action-item{

    margin-left: .5em;
    cursor: pointer;
}


.profile-section {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.like-count {
    margin-left: 4px; /* Adjust the margin as needed */
    font-weight:900;
    color: #f60404; /* Choose your preferred color */
  }

  .profile-thumbnail img {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    border-radius: 50%; /* Ensure a circular shape for the thumbnail */
    object-fit: cover;
    margin-right: 10px;
  }

  .profile-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .menu-button {
    margin-left: auto;
  }
  