.action-item{

    margin-left: .5em;
    cursor: pointer;
}


.profile-section {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.like-count {
    margin-left: 4px; /* Adjust the margin as needed */
    font-weight:900;
    color: #f60404; /* Choose your preferred color */
  }