

 <aside class="friends-section">
  <div class="section-header">
    <span class="header-text">Recommended Friends</span>
  </div>

  



  <div *ngFor="let user of displayedSuggestions">
    <div (click)="navigateToUserProfile(user!.id)" *ngIf="user.id !==undefined" class="friends-hyper">
      <figure class="snip1578 hover"><img [src]="user.profilePicUrl" alt="profile-sample5" class="profile-picCard"/>
        <figcaption>
            <h3>{{user.fullName}}</h3>
            <div class="icons">
            <button type="button" (click)="toggleFollow(user)" class="follow-button">{{ getButtonText(user) }}</button>
            </div>
        </figcaption>
      </figure>
    </div>
</div>

  <!-- More Button -->
  <div *ngIf="displayedSuggestions.length === 0">
    <p >Click "More" to view suggestions again.</p>
  </div>

  <button *ngIf="displayedSuggestions.length < (userList.length-1)" (click)="loadMoreSuggestions()" class="more-button">
    More
  </button>
</aside>
