<!-- <aside class="flex flex-col  w-96 h-screen px-4 py-8 overflow-y-auto bg-white border-l rtl:border-r-0 rtl:border-l dark:bg-gray-900 dark:border-gray-700">
    
    
    <div class="flex  flex-col justify-between flex-1 mt-6">
        <nav>
            <div class="flex bg-gray-300 items-center px-4 py-2 mt-5 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <div class="flex items-center">
                    <div class="w-5 h-5 bg-blue-500 rounded-full"></div>
                    <span class="mx-6 text-red-900  font-medium">Recommended Friends</span>
                </div>
            </div>
            <div class="bg-white border  rounded-lg shadow-md p-4 mt-4 dark:bg-gray-800 dark:border-gray-700">
                <div *ngFor="let user of displayedSuggestions"  class=" bg-white flex items-center border-b pb-2 mb-2">
                    <div class="w-10 h-10 bg-gray-300  rounded-full"><img [src]="user.profilePicUrl" alt="profile_dp"></div>
                    <div class="flex flex-col ml-4 ">
                        <span class="font-medium">{{user.fullName}}</span>
                        <span class="text-gray-500">@{{user.userHandle}}</span>
                    </div>
                    <button 
                    (click)="toggleFollow(user)"
                    class="bg-red-200 rounded-full px-3 py-1 text-blue-600 ml-auto me-2 cursor-pointer focus:outline-none">{{ getButtonText(user) }}</button>
                    

                </div>
                <button *ngIf="suggestionsToShow < userList.length" (click)="loadMoreSuggestions()" class="text-blue-500 mt-2  cursor-pointer focus:outline-none">
                    More
                </button>
            </div>
        </nav>
    </div>


</aside>
 -->

 <aside class="friends-section">
  <div class="section-header">
    <span class="header-text">Recommended Friends</span>
  </div>

  <div class="friend-suggestions">
    <div *ngFor="let user of displayedSuggestions" class="friend-card">
        <div class="profilePicAndName" *ngIf="user.id !==undefined ">
            <div class="profile-pic"><img [src]="user.profilePicUrl" alt="profile_dp"  (click)="navigateToUserProfile(user!.id)"></div>
            <div class="friend-details">
              <span  (click)="navigateToUserProfile(user!.id)" class="friend-handle">@{{user.userHandle}}</span>
        </div>
      </div>
      <div class="followButtonClass">
        <button type="button" (click)="toggleFollow(user)" class="follow-button">{{ getButtonText(user) }}</button>
      </div>
    </div>
  </div>

  <!-- More Button -->
  <button *ngIf="suggestionsToShow < userList.length" (click)="loadMoreSuggestions()" class="more-button">
    More
  </button>
</aside>
