/* You can add global styles to this file, and also import other style files */


@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '@ctrl/ngx-emoji-mart/picker';
@import url('https://fonts.googleapis.com/css2?family=Anton');

.login-background {
    background-size: cover;
    background-position: center;
    opacity: 1;
  }



/* changed */
/* Global styles */
body {
  font-size: 14px; /* Adjust the base font size */
  line-height: 1.5; /* Adjust line height for better readability */
  margin: 0;
  padding: 0;
}

/* Reduce sizes in app-root */
.app-root * {
  font-size: 0.875rem; /* Adjust font size */
  padding: 0.5rem; /* Adjust padding */
  margin: 0.25rem 0; /* Adjust margins */
}

/* Adjust button size */
.btn {
  padding: 0.25rem 0.5rem; /* Adjust padding */
}

/* Reduce heading sizes */
h1, h2, h3, h4, h5, h6 {
  margin: 0.25rem 0; /* Adjust margins */
}

/* Reduce input size */
input[type="text"],
input[type="file"],
textarea {
  padding: 0.25rem; /* Adjust padding */
}

/* Reduce label size */
label {
  margin-bottom: 0.25rem; /* Adjust margin */
}
