<div class="video-call-wrapper">
    <div class="outgoing-video position-relative">
      <div class="incoming-video position-absolute"></div>
      <div class="d-flex justify-content-center align-items-center gap-1 position-absolute">
        <button type="button" class="call-button" (click)="joinCall()">
          <span class="mdi mdi-phone icon-font"></span> Start Call
        </button>
  
        <button type="button" class="control-button" (click)="mute()" >
            {{rtc.rtc.micBtn | json}}
          <span class="mdi" [ngClass]="{'mdi-microphone': rtc.rtc.micBtn, 'mdi-microphone-off': !rtc.rtc.micBtn}"></span>
          {{rtc.rtc.micBtn ? 'Unmute' : 'Mute'}} 
          
        </button>
  
        <button type="button" class="control-button" (click)="videoOnOff()" >
            {{rtc.rtc.videoBtn | json}}
          <span class="mdi" [ngClass]="{'mdi-video': rtc.rtc.videoBtn, 'mdi-video-off': !rtc.rtc.videoBtn}"></span>
          {{rtc.rtc.videoBtn ? 'Turn On Video' : 'Turn Off Video'}}
          
        </button>
  
        <button type="button" class="call-button" (click)="leaveCall()">
          <span class="mdi mdi-phone-hangup icon-font"></span> End Call
        </button>

        <button type="button" class="call-button" (click)="navigateToChat()">
            <span class="mdi mdi-phone-hangup icon-font"></span> Go to Chats
          </button>
      </div>
    </div>
  </div>
  