.followers-container {
	text-align: center;
}

.followers-header {
	font-size: 24px;
	font-weight: bold;
	padding: 10px;
	background-color: #f2f2f2;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-left: 20%;
	margin-right: 20%;

}

.follower {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	position: relative;
}

.thumbnail-container {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
	cursor: pointer;
	margin-left: 20%;

}

.thumbnail {
	width: 100%;
	height: 100%;
	background-color: #ddd;
}

.info {
	flex: 1;
	cursor: pointer;;
}

.username {
	font-weight: bold;
}

.full-name {
	font-size: 12px;
	color: #777;
}

.remove-btn {
	background-color: #f00;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
	margin-right: 20%;

}

/* pagination*/
.pagination-container {
	display: flex;
	justify-content: center;
	margin-top: 20px; 
  }
  
  .pagination {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .pagination button {
	background-color: #f0f0f0; 
	border: none;
	padding: 8px 16px;
	margin: 0 4px;
	cursor: pointer;
  }
  
  .pagination button:disabled {
	opacity: 0.5; 
	cursor: not-allowed;
  }
  